img{
    width:250px;
    height:150px;
}
.details{
    background-color:white;
    width:250px;
    height:350px;
    overflow:hidden;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.info{
    margin-left:8px;
}
.info span{
    font-weight: bold;
    color:#575958;
}
.info>p{
    font-size:17px;
}
body{
    display:flex;
    flex-wrap: wrap;
    gap:40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}